# Node
node_modules/
dist/
build/

# dotenv
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Uploaded files
uploads/

# TypeScript
*.tsbuildinfo

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Supabase
.supabase/

# Optional: if you're generating coverage reports
coverage/
